<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href='/static/style.css'/>
  </head>
  <body >
    <h1 align="center">My Web</h1>
    <p align="center">
    	<img src="/static/images/panda_02.jpg", alt="losing">
    </p>
	<p>
	<ul>
		<li><a href="/hello/stranger">打声招呼</a></li>
		<li><a href="/pic">查看图片</a></li>
		<li><a href="/browser">浏览器信息</a></li>
		<li><a href="/error">错误界面</a></li>
		<li><a href="/cookie">获取cookies</a></li>
		<li><a href="/baidu">百度</a></li>
	</ul>
	</p>
  </body>
</html>
